isros-dolibarcxf/src/main/resources/server_thirdparty.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.dolibarr.org/ns/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.dolibarr.org/ns/">
<types>
<xsd:schema targetNamespace="http://www.dolibarr.org/ns/"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="isros-dolibarcxf/src/main/resources/encoding.xml" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="authentication">
  <xsd:all>
   <xsd:element name="dolibarrkey" type="xsd:string"/>
   <xsd:element name="sourceapplication" type="xsd:string"/>
   <xsd:element name="login" type="xsd:string"/>
   <xsd:element name="password" type="xsd:string"/>
   <xsd:element name="entity" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="result">
  <xsd:all>
   <xsd:element name="result_code" type="xsd:string"/>
   <xsd:element name="result_label" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="thirdparty">
  <xsd:all>
   <xsd:element name="id" type="xsd:string"/>
   <xsd:element name="ref" type="xsd:string"/>
   <xsd:element name="ref_ext" type="xsd:string"/>
   <xsd:element name="fk_user_author" type="xsd:string"/>
   <xsd:element name="status" type="xsd:string"/>
   <xsd:element name="client" type="xsd:string"/>
   <xsd:element name="supplier" type="xsd:string"/>
   <xsd:element name="customer_code" type="xsd:string"/>
   <xsd:element name="supplier_code" type="xsd:string"/>
   <xsd:element name="customer_code_accountancy" type="xsd:string"/>
   <xsd:element name="supplier_code_accountancy" type="xsd:string"/>
   <xsd:element name="date_creation" type="xsd:dateTime"/>
   <xsd:element name="date_modification" type="xsd:dateTime"/>
   <xsd:element name="note_private" type="xsd:string"/>
   <xsd:element name="note_public" type="xsd:string"/>
   <xsd:element name="address" type="xsd:string"/>
   <xsd:element name="zip" type="xsd:string"/>
   <xsd:element name="town" type="xsd:string"/>
   <xsd:element name="province_id" type="xsd:string"/>
   <xsd:element name="country_id" type="xsd:string"/>
   <xsd:element name="country_code" type="xsd:string"/>
   <xsd:element name="country" type="xsd:string"/>
   <xsd:element name="phone" type="xsd:string"/>
   <xsd:element name="fax" type="xsd:string"/>
   <xsd:element name="email" type="xsd:string"/>
   <xsd:element name="url" type="xsd:string"/>
   <xsd:element name="profid1" type="xsd:string"/>
   <xsd:element name="profid2" type="xsd:string"/>
   <xsd:element name="profid3" type="xsd:string"/>
   <xsd:element name="profid4" type="xsd:string"/>
   <xsd:element name="profid5" type="xsd:string"/>
   <xsd:element name="profid6" type="xsd:string"/>
   <xsd:element name="capital" type="xsd:string"/>
   <xsd:element name="vat_used" type="xsd:string"/>
   <xsd:element name="vat_number" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="filterthirdparty">
  <xsd:all>
   <xsd:element name="client" type="xsd:string"/>
   <xsd:element name="supplier" type="xsd:string"/>
   <xsd:element name="category" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="ThirdPartiesArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:thirdparty[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="ThirdPartiesArray2">
  <xsd:sequence>
   <xsd:element name="thirdparty" type="tns:thirdparty" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="getThirdPartyRequestType">
  <xsd:all>
   <xsd:element name="authentication" type="tns:authentication" form="unqualified"/>
   <xsd:element name="id" type="xsd:string" form="unqualified"/>
   <xsd:element name="ref" type="xsd:string" form="unqualified"/>
   <xsd:element name="ref_ext" type="xsd:string" form="unqualified"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="getThirdPartyResponseType">
  <xsd:all>
   <xsd:element name="result" type="tns:result" form="unqualified"/>
   <xsd:element name="thirdparty" type="tns:thirdparty" form="unqualified"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="createThirdPartyRequestType">
  <xsd:all>
   <xsd:element name="authentication" type="tns:authentication" form="unqualified"/>
   <xsd:element name="thirdparty" type="tns:thirdparty" form="unqualified"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="createThirdPartyResponseType">
  <xsd:all>
   <xsd:element name="result" type="tns:result" form="unqualified"/>
   <xsd:element name="id" type="xsd:string" form="unqualified"/>
   <xsd:element name="ref" type="xsd:string" form="unqualified"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="updateThirdPartyRequestType">
  <xsd:all>
   <xsd:element name="authentication" type="tns:authentication" form="unqualified"/>
   <xsd:element name="thirdparty" type="tns:thirdparty" form="unqualified"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="updateThirdPartyResponseType">
  <xsd:all>
   <xsd:element name="result" type="tns:result" form="unqualified"/>
   <xsd:element name="id" type="xsd:string" form="unqualified"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="getListOfThirdPartiesRequestType">
  <xsd:all>
   <xsd:element name="authentication" type="tns:authentication" form="unqualified"/>
   <xsd:element name="filterthirdparty" type="tns:filterthirdparty" form="unqualified"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="getListOfThirdPartiesResponseType">
  <xsd:all>
   <xsd:element name="result" type="tns:result" form="unqualified"/>
   <xsd:element name="thirdparties" type="tns:ThirdPartiesArray2" form="unqualified"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:element name="getThirdParty" type="tns:getThirdPartyRequestType"/>
 <xsd:element name="getThirdPartyResponse" type="tns:getThirdPartyResponseType"/>
 <xsd:element name="createThirdParty" type="tns:createThirdPartyRequestType"/>
 <xsd:element name="createThirdPartyResponse" type="tns:createThirdPartyResponseType"/>
 <xsd:element name="updateThirdParty" type="tns:updateThirdPartyRequestType"/>
 <xsd:element name="updateThirdPartyResponse" type="tns:updateThirdPartyResponseType"/>
 <xsd:element name="getListOfThirdParties" type="tns:getListOfThirdPartiesRequestType"/>
 <xsd:element name="getListOfThirdPartiesResponse" type="tns:getListOfThirdPartiesResponseType"/>
</xsd:schema>
</types>
<message name="getThirdPartyRequest">
  <part name="parameters" element="tns:getThirdParty" /></message>
<message name="getThirdPartyResponse">
  <part name="parameters" element="tns:getThirdPartyResponse" /></message>
<message name="createThirdPartyRequest">
  <part name="parameters" element="tns:createThirdParty" /></message>
<message name="createThirdPartyResponse">
  <part name="parameters" element="tns:createThirdPartyResponse" /></message>
<message name="updateThirdPartyRequest">
  <part name="parameters" element="tns:updateThirdParty" /></message>
<message name="updateThirdPartyResponse">
  <part name="parameters" element="tns:updateThirdPartyResponse" /></message>
<message name="getListOfThirdPartiesRequest">
  <part name="parameters" element="tns:getListOfThirdParties" /></message>
<message name="getListOfThirdPartiesResponse">
  <part name="parameters" element="tns:getListOfThirdPartiesResponse" /></message>
<portType name="WebServicesDolibarrThirdPartyPortType">
  <operation name="getThirdParty">
    <documentation>WS to get a thirdparty from its id, ref or ref_ext</documentation>
    <input message="tns:getThirdPartyRequest"/>
    <output message="tns:getThirdPartyResponse"/>
  </operation>
  <operation name="createThirdParty">
    <documentation>WS to create a thirdparty</documentation>
    <input message="tns:createThirdPartyRequest"/>
    <output message="tns:createThirdPartyResponse"/>
  </operation>
  <operation name="updateThirdParty">
    <documentation>WS to update a thirdparty</documentation>
    <input message="tns:updateThirdPartyRequest"/>
    <output message="tns:updateThirdPartyResponse"/>
  </operation>
  <operation name="getListOfThirdParties">
    <documentation>WS to get list of thirdparties id and ref</documentation>
    <input message="tns:getListOfThirdPartiesRequest"/>
    <output message="tns:getListOfThirdPartiesResponse"/>
  </operation>
</portType>
<binding name="WebServicesDolibarrThirdPartyBinding" type="tns:WebServicesDolibarrThirdPartyPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getThirdParty">
    <soap:operation soapAction="http://www.dolibarr.org/ns/#getThirdParty" style="document"/>
    <input><soap:body use="encoded" namespace="http://www.dolibarr.org/ns/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://www.dolibarr.org/ns/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="createThirdParty">
    <soap:operation soapAction="http://www.dolibarr.org/ns/#createThirdParty" style="document"/>
    <input><soap:body use="encoded" namespace="http://www.dolibarr.org/ns/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://www.dolibarr.org/ns/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="updateThirdParty">
    <soap:operation soapAction="http://www.dolibarr.org/ns/#updateThirdParty" style="document"/>
    <input><soap:body use="encoded" namespace="http://www.dolibarr.org/ns/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://www.dolibarr.org/ns/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="getListOfThirdParties">
    <soap:operation soapAction="http://www.dolibarr.org/ns/#getListOfThirdParties" style="document"/>
    <input><soap:body use="encoded" namespace="http://www.dolibarr.org/ns/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://www.dolibarr.org/ns/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="WebServicesDolibarrThirdParty">
  <port name="WebServicesDolibarrThirdPartyPort" binding="tns:WebServicesDolibarrThirdPartyBinding">
    <soap:address location="http://localhost:8888/dolibarr/htdocs/webservices/server_thirdparty.php"/>
  </port>
</service>
</definitions>