isros-pshopConnector/src/main/resources/productList.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="prestashop" type="prestashopType"/>
  <xs:complexType name="productType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="id" use="optional"/>
       <!--   <xs:attribute ref="xlin:href" xmlns:xlin="http://www.w3.org/1999/xlink"/>-->
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="productsType">
    <xs:sequence>
      <xs:element type="productType" name="product" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prestashopType">
    <xs:sequence>
      <xs:element type="productsType" name="products"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>